@charset "utef-8";

body{
    margin:0;
    padding:0;
}
header{
    width:100%;
    height:66px;
    background:#fff;
    border-top:4px solid #0054a7;
}
.inner{
    max-width:980px;
    margin:auto;
    padding-top:22px;
}
main{
    max-width:980px;
    margin:auto;
}
main h2{
    text-align:center;
}
main h2 img{
    max-width:100%;
}
.movie{
    background:#000;
    width:100%;
    height:407px;
    text-align:center;
    padding-top:60px;
}
footer{
    width:100%;
    height:100px;
    background:#999;
}